.checkBox {
    padding-top: 10px;
    padding-bottom: 10px;
}
.privacyStatement {
    padding: 10px;
    margin: 20px 0px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #888;
    font-size: 14px;
}